{
  "presets": [
    "razzle/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "createSaga": "./src/helpers/common/createSaga.js"
      }
    }]
  ]
}
